/*
* adapt-userLevelGradingBoundaries
* License - http://github.com/adaptlearning/adapt_framework/LICENSE
* Maintainers - Oliver Foster <oliver.foster@kineo.com>
*/

.ulgb-assessmentItem {
	float:left;
	text-align: center;


	&.full {
		width:98%;
	}
	&.half {
		width: 48%
	}

	.section {
		&.full {
			width: 98%;
			float:left;
			.text {
				float:left;
				width: 70%;
				text-align: left;
			}
			.chart {
				float:right;
			}

			&.questionsAttempted, &.averagePoints, &.rightFirstTime, &.pageLevelView {
				.chart {
					height: 90px;
					width: 90px;
				}
			}

			&.pageLevelView {
				.chart {
					height: 180px;
					width: 180px;
					padding-right:50px;
					margin: auto;
				}
			}

		}

		&.half {
			width: 48%;
			float: left;

			&.forecastForFinalAssessment {
				.chart {
					height: 180px;
					width: 180px;
					margin: auto;
				}
			}
			&.predictedScore {
				.chart {
					height:100px;
					width:100%;
				}
			}
		}

		&.title {
			.text {
				width: 100%;
				text-align:center;
			}
		}



	}

	//DEFAULT CHART STYLING
	.chart {
		&.pie, &.donut {
			.c3-chart-arc path {
				stroke: black;
				stroke-width: 3px;
				stroke-linejoin: round;
				opacity: 1 !important;
				cursor: default !important;
			}
		}
		&.bar {
			.c3-chart-bar path {
				stroke: black !important;
				stroke-width: 3px;
				stroke-linejoin: round;
			}
			.c3-axis-x {
				path {
					stroke-width: 2px;
				}
				.tick {
					line {
						display:none;
					}
					text {
						display:none !important;
					}
				}
			}
		}
		&.tick {
			.tick {
				&.passed {
					.failed, .incomplete {
						display: none;
					}
					.passed {
						display:inline;
					}
				}
				&.failed {
					.incomplete, .passed {
						display: none;
					}
					.failed {
						display:inline;
					}
				}
				&.incomplete {
					.passed, .failed {
						display: none;
					}
					.incomplete {
						display:inline;
					}
				}
			}
		}
		&.percentage {
			.percentage {
				&.passed, &.failed {
					.incomplete {
						display: none;
					}
					.complete {
						display:inline;
					}
				}
				&.incomplete {
					.incomplete {
						display: inline;
					}
					.complete {
						display:none;
					}
				}
			}
		}
	}
	
}

