/*
* adapt-userLevelGradingBoundaries
* License - http://github.com/adaptlearning/adapt_framework/LICENSE
* Maintainers - Oliver Foster <oliver.foster@kineo.com>
*/

html.user-level-grading-boundaries {

	.page-level-progress-navigation {
		display: none;
	}

	@media all and (max-width:(@device-width-medium - 1px)) {

	    .navigation {
		    .close {
				float:right;
				padding: 12px 13px 12px 12px;
				position:absolute;
				top:0;
				right:0;
				cursor: pointer;
				.no-touch &:hover {
					color: @guided-bar-icon-hover-color;
					.icon {
						 color: @guided-bar-icon-hover-color;
					}
				}
			}
		}
			
	}

	.navigation {
		background-color: @guided-primary-color;
		border-bottom: @guided-bar-border;

		.icon {
			&:not(.ulgb-item) {
				display:none;
			}
			&.ulgb-item {
				display: inline-block;
			}
		}


		.ulgb-tutor-icon {
			.title-bar {

				position: relative;
				text-decoration: none;
				margin: auto;
				cursor: pointer;
				left: -16px;
				text-align: center;
				width: 400px;
				color: @guided-bar-button-text-color;
				.no-touch &:hover {
					color: @guided-bar-icon-hover-color;
					.icon {
						 color: @guided-bar-icon-hover-color;
					}
				}
				.icon {
					color: @guided-bar-icon-color;
		            .no-touch &:hover {
		                color: @guided-bar-icon-hover-color;
		            }
				}
				span.title {
					display: inline-block;
					top: -4px;
					position: relative;
				}
			}
		}


	}

}

#ulgb-results {
    width: 35px;

    &:before {
        content: '';
    }

    &:after {
    	content:'';
    }

    &.fail {
    	div {
    		background-image: url(../../assets/fail.png);
    		background-repeat: no-repeat;
    	}
    }
    &.bronze {
    	div {
    		background-image: url(../../assets/bronze.png);
    		background-repeat: no-repeat;
    	}
    }
    &.silver {
    	div {
    		background-image: url(../../assets/silver.png);
    		background-repeat: no-repeat;
    	}
    }
    &.gold {
    	div {
    		background-image: url(../../assets/gold.png);
    		background-repeat: no-repeat;
    	}
    }

    div {
        margin-right: 2px;
        font-family: @font-family;
        font-size: 16px;
        vertical-align: top;
        line-height: 1.6;
        font-weight: 600;
        width: 24px;
		height: 24px;

        .progress-count {
            font-size: 13px;
		    left: 24px;
		    position: relative;
		    top: -12px;
        }
    }
}