<div class="labels-top">
</div>
<div class="chart-container">
	<div class="bar-border">
		<div class="bar"></div>
	</div>
	<div class="boundary-border">
	</div>
</div>
<div class="labels-bottom">
</div>