<div class="ulgb-header">
	<h3 class="ulgb-header-title">{{_userLevelGradingBoundaries.title}}</h3>
	<div>{{_userLevelGradingBoundaries.body}}</div>
</div>
<div class="assessmentItem-container"></div>