<div class="ulgb-bottom-inner block-inner">

	<a href="#" id="ulgb-tutor-button" class="ulgb-tutor-button icon-bar-graph icon clickstyle" data-clickstyle-group="tutor-icons"></a>

	<div class="buttongroup">

		<button id="ulgb-end" class="buttons-action" tabindex="0"><span class="mobile-only icon icon-cross"></span><span class="not-mobile">{{_userLevelGradingBoundaries._buttons.end}}</span></button>

	</div>

</div>