<div class="title-bar clickstyle" data-clickstyle-group="tutor-icons"><a href="#" class="ulgb-item icon icon-bar-graph"></a><span class="title">{{_userLevelGradingBoundaries.header}}</span></div>
<span class="ulgb-item mobile-only close icon icon-cross"><span>